In [6]:
import sqlite3 as sql

In [8]:
database = "C://Users//somfl//Downloads//country_club1.sql"

conn = sql.connect(database)
print(sql.version)

cur = conn.cursor()
    
query1 = """
SELECT * FROM Bookings 
        """
cur.execute(query1)
 
rows = cur.fetchall()
for row in rows:
       print(row)

2.6.0

DatabaseError: file is not a database